body{
	text-align: center;
}

#reproductor{
	width: 720px;
	padding: 5px;
	float:left;
	margin-right: 40px;
	background: #999999;
	border: 1px solid #666666;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
}

#botones{
	float:left;
	width: 100px;
	height: 10px;
}

#barra{
	position: relative;
	float:right;
	width: 600px;
	height: 10px;
	padding: 2px;
	background: #EEEEEE;
	border: 1px solid #CCCCCC;
}

#progreso{
	position: absolute;
	width: 0px;
	height: 8px;
	background: rgba(0,0,255,.9);
}

#reproducir{
	height: 20px;
}

/*  ELEMENTOS DE LA GALERIA DE IMAGENES */
 
#galeria {
	padding:0;
	float:left;
    list-style-type:none;
    height:300px;
    width:300px;
 }
#galeria li {
    width:300px;
    height:300px;
    border:1px solid #000;
}
#galeria li img {
    height:300px;
    width:300px;
    border:0;
}
#galeria li:hover {
  	background:#eee;
  	width:400px;
}
#galeria li:hover img {
    width:400px;
}